header {
    display: none;
}

.text {
    column-count: 3;
}

.col-note {
    display: none;
}

.columns {
    break-after: always;
    -moz-column-break-after: always;
    -webkit-column-break-after: always;
}

.columns {
    width: 100%;
    display: block !important;
}
.columns .column {
    display: block !important;
}

.col-text {
    width: 100%;
}
