/* Весь документ */
body, html {
    /* Шрифт */
    font-family: 'pdhm';
    /* Нижнее поле */
    padding-bottom: 100px;
    /* Сглаживание отрисовки шрифта */
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    vertical-align: baseline;
}

article.article {
    padding-bottom: 715px;
}

/* «Страница» */
#page {
    /* Ширина «страницы» */
    width: 1040px;
    /* Автополя по бокам — «страница» посередине экрана */
    margin: 0 auto;
}

/* Заголовок */
header {
    /* Отступы сверху справа снизу слева */
    padding: 85px 50px 170px 0;
    /* Шрифт */
    font-family: 'pdhm';
    /* Кегль */
    font-size: 56px;
    /* Интерлиньяж */
    line-height: 70px;
    /* Полужирный */
    font-weight: 500;
    /* По центру */
    text-align: center;
    /* Цвет текста */
    color: #000;
}
/* Подзаголовок */
.subtitle {
    /* Все прописные */
    text-transform: uppercase;
}
/* Колонка с номером параграфа */
.col-numero {
    /* Ширина колонки */
    width: 65px;
    /* Выключка вправо */
    text-align: right;
    /* Правый отступ */
    padding-right: 36px;
    /* Цвет текста */
    color: rgb(104, 104, 104);
    /* Кегль */
    font-size: 16px;
    /* Нормальный, не полужирный */
    font-weight: 400;
    /* Разрядка символов */
    letter-spacing: 2px;
}

/* Якорь номера параграфа */
.col-numero a {
    /* Наследовать цвет текста */
    color: inherit;
    /* Курсор «палец» */
    cursor: pointer;
    /* Без подчёркивания */
    text-decoration: none;
}

/* Колонка с текстом */
.col-text {
    /* Ширина */
    width: 590px;
    /* Кегль */
    font-size: 18px;
    /* Нормальный, не полужирный */
    font-weight: 400;
    /* Выравнивание по ширине */
    text-align: justify;
    /* Разрядка символов */
    letter-spacing: normal;
    /* Цвет текста */
    color: rgb(43, 43, 43);
    /* Отступ справа */
    margin-right: 23px;
}

/* Колонка с обрезе */
.col-note {
    /* Ширина */
    width: 214px;
    /* Кегль */
    font-size: 14px;
    /* Цвет текста */
    color: #000;
    /* Нормальный, не полужирный */
    font-weight: 400;
    /* Наклонное начертание */
    font-style: italic;
    /* Интерлиньяж */
    line-height: 18px;
    /* Отступ сверху, чтобы выровнять базовую линию */
    padding-top: 7px;
}

/* стили данных */
.war-paragraph {
    background-color: #E89899;
    color: #999999;
}
.date {
    color: #D77905;
}
.location {
    background-color: #B5D6A8;
    padding: .25em .1em;
}
.name {
    font-style: italic;
    text-decoration: underline;
}
.stats {
    background-color: #D9D8D8;
}
.ship {
    color: #169133;
}
.money {
    color: #EF1385;
}
.document {
    color: #1D0Eff;
}